<head>
select
.img1 {
float: left;
}
  {
  height: 200px;
  background-image:   "https://avatars.mds.yandex.net/i?id=b87956984be853bcc5f9b897b21ed53505449838-11525436-images-thumbs&n=13" ;
  background-repeat: repeat;
  color: #070707;
}
.img2 {
float: right;
}
< /style >

 </head>
